.navbar-custom {
  background-color: #34495E;
  border-radius: 0px;
}

.menu-head {
  color: #E7E7E7 !important;
}

.menu-item > a {
  color: #E7E7E7 !important;
}

.menu-item > a:hover {
  text-decoration: underline !important;
}

.active > a {
  color: #34495E !important;
}
