.test {
  border: 1px solid black;
}

.title {
  font-weight: bold;
  font-size: 3em;
  color: #34495E;
}

.line {
  border: 2px solid #34495E;
  border-radius: 100%;
}

.image-center-squared {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.part {
  margin: 0px 15px 0px 15px;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  border: 2px solid #34495E;
  border-radius: 100%;
}

.row-space {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 100px;
}

.row-dark {
  background-color: #34495E;
}

.info-box {
  box-sizing: border-box;
  padding: 25px;
  margin: 10px;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
}

.info-box > h4, .info-box > p {
  color: #E7E7E7;
}

.info-box > p {
  text-align: justify;
}

.tech {
  margin-top: 25px;
  margin-bottom: 25px;
}

.tech-row {
  padding: 25px;
}

.first {
  margin-top: 3%;
}

.tech-stack {
  color: #34495E;
  padding: 50px;
}

.tech-stack-img {
  margin: 0 auto;
}

.express-img {
  height: 30px;
  width: 150px;
}

.node-img {
  height: 100px;
  width: 163px;
}

.mongo-img {
  height: 100px;
  width: 100px;
}

.react-img {
  height: 100px;
  width: 85px;
}

.copy {
  text-align: center;
  padding: 15px;
}

.copy a {
  color: #E7E7E7;
  text-decoration: none;
}

.copy a:hover {
  text-decoration: underline;
}

.copy a:visited {
  text-decoration: none;
}
