#pollDetail {
  margin-top: 25px;
}

.poll-detail-view {
  margin-top: 50px;
}

.poll-detail-view span {
  display: inline-block;
}

.svg-container {
  max-width: 100%;
  text-align: center;
  overflow: hidden;
}

.poll-container {
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6);
}
