.profile-img {
  max-height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-poll-cards {
  margin-top: 15px;
  margin-bottom: 20px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.pollcard-btn {
  margin-left: 5px;
}

.poll-editor {
  max-height: 0;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.poll-editor.show {
  max-height: 100%;
  opacity: 1;
}

.poll-editor-ul {
  padding: 0;
  list-style-type: none;
}

.poll-editor-li:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.poll-editor-li button {
  float: right;
}

.editor-btn {
  margin-right: 10px;
}
