.profile-img {
  max-height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*still not sure if I want to implement this*/
.user-poll-cards-container {
  width: 100%;
  max-height: 300px;
  overflow: scroll;
}

.user-poll-cards {
  margin-top: 15px;
  margin-bottom: 20px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.pollcard-btn {
  margin-left: 5px;
}

.create-poll-btn {

}
